yazi/state/*

lazygit/state.yml

nvim/nvim-data/*
nvim/nvim/lazy-lock.json

vscode/User/globalStorage/*
vscode/User/History/*
vscode/User/profiles/*
vscode/User/workspaceStorage/*
vscode/User/locale.json

windows-terminal/settings/state.json


*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.xdv
*.gz


